@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

header>nav>ul>li {
    display: inline;
    border-radius: 1ex;
    background: linear-gradient(to top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    margin: 0.25em;
    padding: 8px;
}

header>nav a {
    text-decoration: none;
    text-shadow:white 1px 1px 3px, white 0px 0px 6px;
    color: black;
}

header>nav a:hover {
    color: #ffa;
    text-shadow:black 0px 0px 3px, black 2px 2px 4px;
}

footer {
    text-align: center;
    font-size: 66%;
}

h1 {color: red;
    font-family: 'Indie Flower', cursive;
    font-size: 45px;
    font-weight: bolder;
    font-style: italic;
}

body {background-color: beige;
font-family: Arial, Helvetica, sans-serif;
}

.marked {background-color: #43bd2b;}
.larger {font-size: larger;}

#first {font-weight: bold;}

li {
    list-style-type: square;
}

blockquote {
    border: 3px dotted blue;
    text-decoration: underline;
}

.recommendation {
    background-color: #94d38e;
}